aiohttp==3.8.4
aiomysql==0.1.1
aiosignal==1.3.1
aiotfm==1.4.8
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.1.0
certifi==2023.5.7
discord.py==2.2.3
docstring-parser==0.15
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
mysqlclient==2.1.1
PyMySQL==1.0.3
requests==2.30.0
urllib3==2.2.2
w3lib==2.1.1
yarl==1.9.2
