aiohttp==3.7.4.post0
aiotfm==1.4.4
async-timeout==3.0.1
attrs==21.2.0
breezy==3.0.2
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
Cython==0.29.24
dbus-python==1.2.16
discord-components==1.1.4
discord.py==1.7.1
dulwich==0.19.15
fastimport==0.9.8
idna==2.8
multidict==5.1.0
Pygments==2.3.1
PyGObject==3.36.0
python-apt==2.0.0+ubuntu0.20.4.6
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
typing-extensions==3.10.0.2
urllib3==1.25.8
w3lib==1.22.0
yarl==1.6.3
